* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
}

body.fondo::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 100%;
  z-index: 99;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  position: relative;
}

header > img {
  width: 100%;
}

header img.desktop {
  display: none;
}

header .header-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-content .hamburger {
  margin-top: 40px;
  padding-left: 30px;
  z-index: 99999;
  cursor: pointer;
  height: 20px;
}

header .header-content .hamburger img {
  width: 25px;
}

header .header-content .hamburger img.cerrar {
  display: none;
  width: 18px;
}

.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  background: white;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: -100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  z-index: 9999;
}

.main ul li {
  list-style: none;
  margin: 0 15px;
}

.main ul li a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-transform: lowercase;
  padding-bottom: 7px;
}

.main ul li a:hover {
  border-bottom: 2px solid white;
}

.header-content .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 42px);
          transform: translate(-50%, 42px);
}

.flechas {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flechas img {
  padding: 12px 18px;
  cursor: pointer;
}

.flechas img.atras:hover,
.flechas img.adelante:hover {
  background: rgba(107, 107, 107, 0.411);
}

.header-hero {
  width: 85%;
  margin: 0 auto 60px auto;
}

.header-hero .hero .info-hero {
  margin-top: 60px;
}

.header-hero .hero .info-hero h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.header-hero .hero .info-hero p {
  color: #a1a1a1;
  font-size: .8rem;
  line-height: 18px;
  margin-bottom: 50px;
}

.header-hero .hero .info-hero a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-right: 30px;
  cursor: pointer;
}

.header-hero .hero .info-hero img {
  cursor: pointer;
  width: 50px;
}

.header-hero .two,
.header-hero .three {
  display: none;
}

section {
  margin-bottom: 40px;
}

section .content-section img {
  width: 100%;
}

section .content-section .text-section {
  width: 85%;
  margin: 50px auto;
}

section .content-section .text-section h2 {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

section .content-section .text-section p {
  color: #a1a1a1;
  font-size: .8rem;
  line-height: 18px;
}

@media (min-width: 1024px) {
  header {
    position: initial;
  }
  .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  header .mobile {
    display: none;
  }
  header img.desktop {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header-content .flechas {
    right: 30.3%;
    bottom: -5px;
  }
  .flechas img {
    padding: 22px 40px;
  }
  .header-flex .header-hero {
    margin: 20px auto 0 auto;
    width: 70%;
    padding: 0 80px 0 80px;
  }
  .header-hero .hero .info-hero h2 {
    font-size: 2rem;
  }
  .header-hero .hero .info-hero p {
    height: 100px;
  }
  .header-content .logo {
    position: initial;
    -webkit-transform: translate(0);
            transform: translate(0);
    top: 20px;
    margin-top: 40px;
    margin-left: 50px;
  }
  .header-content .logo img {
    width: 68px;
  }
  .hamburger {
    display: none;
  }
  .main {
    position: absolute;
    left: 180px;
  }
  .main ul {
    position: initial;
    background: none;
  }
  .main ul li a {
    color: white;
    font-size: .8rem;
  }
  section {
    margin-bottom: 0;
  }
  .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .content-section img {
    width: 410px;
  }
  section .content-section .text-section {
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .header-content .flechas {
    right: 28.3%;
  }
  .flechas img {
    padding: 26px 50px;
  }
}
/*# sourceMappingURL=styles.css.map */